
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unassign Course</title>
    <style>
        label.error {
            color: red;
        }
    </style>
</head>
<body>
    <center>
        <h1>13. Unassign All Course</h1>
        <h3>
            <a href="/Home/Index">Go To Home Page</a>
        </h3><hr /><br />
        <div>
        </div>
    </center>
</body>
</html>
