
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <center>
            <h1>University Course&Result Management System</h1><hr /><br />
            <div>
                <h2>1. <a href="/Department/SaveDepartment">Save Department</a></h2>
                <h2>2. <a href="/Department/ShowAllDepartment">View All Department</a></h2>
                <h2>3. <a href="/Course/SaveCourse">Save Course</a></h2>
                <h2>4. <a href="/Teacher/SaveTeacher">Save Teacher</a></h2>
                <h2>5. <a href="/AssignTeacher/CourseAssignTeacher">Course Assign to Teacher</a></h2>
                <h2>6. <a href="/CourseStatistics/CourseStatistics">View Course Statistics</a></h2>
                <h2>7. <a href="/StudentRegistration/RegisterStudent">Register Student</a></h2>
                <h2>8. <a href="/ClassAllocate/CLassroomAllocation">Allocate Classrooms</a></h2>
                <h2>9. <a href="/ScheduleInfo/ShowScheduleInfo">View Class Schedule and Room Allocation Info</a></h2>
                <h2>10. <a href="/EnrollCourse/CourseInrollment">Enroll Into a Course</a></h2>
                <h2>11. <a href="/StudentResult/SaveStudentResult">Save Students Results</a></h2>
                <h2>12. <a href="/ShowResult/AllResultInfo">Show all Result</a></h2>
                <h2>13. <a href="/UnassignCourse/AllCourseUnassign">UnAssign ALl Course</a></h2>
                <h2>14. <a href="/UnassignClassroom/AllClassroomUnassign">UnAllocate All Classroom</a></h2>
            </div>
    </center>
</body>
</html>
