
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Regieter Student</title>
    <style>
        label.error {
            color: red;
        }
    </style>
</head>
<body>
    <center>
        <h1>7. Student Registration</h1>
        <h3>
            <a href="/Home/Index">Go To Home Page</a>
        </h3><hr /><br />
        <div>
        </div>
    </center>
</body>
</html>
